<div class="app-panel-container">
    <div class="container">
        <div class="row">
            <div class = "col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>event_available</mat-icon>
                    <p>Ingreso</p>
                </mat-card>
            </div>
            <div class = "col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>event_busy</mat-icon>
                    <p>Egreso</p>
                </mat-card>
            </div>
            <div class = "col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink= 'medico/index'>
                    <mat-icon>badge</mat-icon>
                    <p>Médico</p>
                </mat-card>
            </div>
            <div class = "col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>co_present</mat-icon>
                    <p>Paciente</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>