<h1 mat-dialog-title>Crear médico</h1>

<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" >
                <mat-radio-group formControlName="habilitado" name="habilitado" aria-label="Select an option">
                    <mat-radio-button [value]="true">Habilitado</mat-radio-button>
                    <mat-radio-button [value]="false">Inhabilitado</mat-radio-button>
                </mat-radio-group>                  
            </div>
            <div class="col-6" >
                <mat-form-field class="example-form-field" >
                    <mat-label>Cédula</mat-label>
                    <input matInput formControlName="cedula" name="cedula"type="text" (keyup.enter)="guardar()">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="example-form-field" >
                    <mat-label>Nombre</mat-label>
                    <input matInput  formControlName="nombre" name="nombre"type="text" (keyup.enter)="guardar()">
                </mat-form-field>
            </div>
            <div class="col-6">
               <mat-form-field class="example-form-field" >
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput  formControlName="apellidoPaterno" name="apellidoPaterno"type="text" (keyup.enter)="guardar()">
                </mat-form-field> 
            </div>   
            <div class="col-6" >
                <mat-form-field class="example-form-field" >
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="apellidoMaterno"name="apellidoMaterno" type="text" (keyup.enter)="guardar()">
                </mat-form-field>
            </div>        
        </div>
        <div class="col-6">
                <mat-slide-toggle formControlName="esEspecialista" name="esEspecialista">
                    Es especialista
                </mat-slide-toggle>
        </div>
    </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancelar()" >Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</div>